window {
    margin: 0px;
    border: 2px solid #89b4fa;
    background-color: #1e1e2e;
    border-radius: 12px;
    font-family: "Inter", "sans-serif";
    font-size: 14px;
}

#outer-box {
    margin: 10px;
    border: none;
    background-color: transparent;
}

#input {
    margin: 5px;
    border: none;
    color: #cdd6f2;
    background-color: #313244;
    border-radius: 8px;
    padding: 10px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#text {
    margin: 5px;
    border: none;
    color: #cdd6f2;
}

#entry:selected {
    background-color: #89b4fa;
    border-radius: 8px;
    outline: none;
}

#text:selected {
    color: #1e1e2e;
    font-weight: bold;
}

#img {
    margin-right: 10px;
}
