* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
}

#custom-launcher,
#custom-audio,
#clock,
#tray {
    padding: 8px 0px;
    margin: 4px 0px;
    background-color: transparent;
    color: #ffffff;
}

#custom-launcher {
    font-size: 20px;
    padding: 12px 0px;
}

#custom-launcher:hover,
#custom-audio:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#custom-audio {
    font-size: 18px;
}

#clock {
    padding: 10px 0px;
    font-weight: bold;
}

#tray {
    padding: 8px 5px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
